@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Dancing+Script&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Major+Mono+Display&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Quicksand:wght@300;400&family=Roboto:wght@100&family=Square+Peg&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lato',sans-serif;
    background-color: #ECEFF4;
    color: #2E3440;
    overflow-x: hidden;
}

/* .home-div{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.home-div .img1div{
    width: 50%;
    height: 100%;
    background-color: #C8A2C8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-div .img1div .img1content{
    background-color: blue;
    width: 400px;
    height: 70%;
}

.home-div .img1div .img1content img{
    height: 100%;
}


.home-div .img2div{
    width: 50%;
    height: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-div .img2div .img2content{
    background-color: blue;
    width: 500px;
    height: 95%;
}

.home-div .img2div .img2content img{
    height: 100%;
}



.home-div .headtext-div{
    background-color: burlywood;
    width: 500px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    right: 35%;    
    justify-content: center;
    align-items: center;

}

.home-div .headtext-div h1{
    font-size: 60px;
}

.home-div .headtext-div .head-btn{
    width: 100%;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.home-div .headtext-div .head-btn .btn{
    width: 150px;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    border: 0.4px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.home-div{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex ;
    overflow:hidden ;
}

.home-div .headtext-div{
    width: 50%;
    height: 100%;
    background-color: #C8A2C8;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-div .headtext-div img{
    width: 100px;
    height: 100px;
}
.home-div .headtext-div h1{
    font-size: 90px;
    color: #ffff;
    text-shadow: rgba(0, 0, 0, 0.692) 5px 5px 5px;
}
.home-div .headtext-div p{
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.7;
}
.home-div .headtext-div a .btn{
    width: 200px;
    height: 50px;
    background-color: purple;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.541) 5px 2px 5px;
}

.home-div .headtext-div a{
    text-align: center;
    margin-top: 40px;
    transition: ease-in-out 0.5s;
}

.home-div .headtext-div a:hover{
    transform: scale(1.2);
}

.home-div .other-cont{
    width: 50%;
    height: 100%;
    /* background-color: burlywood; */
    position: relative;
}

.home-div .other-cont .head-img{ 
    /* background-color: cornflowerblue; */
    width: 500px;
    height: 670px;
    z-index: 2;
    position: relative;
}

.home-div .other-cont .head-img img { 
    height: 100%;
    transition: ease-in-out 0.5s;
}
.home-div .other-cont .head-img img:hover{
    transform: scale(1.1);

}


.home-div .other-cont .innertxt-div{
    background-color: rgba(255, 20, 145, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}
.home-div .innertxt-div p{
    font-size: 50px;
    opacity: 0.5;
    font-family: 'Major Mono Display', monospace;
}





/* SECOND DIV */

.second-main-div{
    width: 100%;
    height: 220vh;
    position: relative;
    padding: 0;
    margin: 0;
    /* background-color: green; */
    color: #ECEFF4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-main-div .service-txt{
    width: 100%;
    height: 200px;
    /* background-color:brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.service-txt .headtxt{
    width: 50%;
    height: 50%;
    /* background-color: #2E3440; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-txt .headtxt .line{
    width: 150px;
    height: 5px;
    background-color: crimson;
    border-radius: 20px;
    transition: ease-in-out 0.2s;

}

.service-txt .headtxt h1{
    font-size: 60px;
    cursor:default;
    transition: ease-in-out 0.5s;
    color: #2E3440;
}
.service-txt .headtxt h1:hover{
    color: rgba(240, 35, 240, 0.815);
    text-shadow: black -5px 5px 5px;
;

}
.service-txt .headtxt h1:hover + .line{
    width: 300px;
}
.bganimation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.shape{
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-top: 10px;
    margin-left: 100px;
    opacity: 0.5;
}

.shape:hover{
    background-color: #D08770;
}

.second-main-div .image-content{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    /* background-color: #2E3440; */


}

.second-main-div .image-content .image-div{
    width: 20%;
    height: 300px;
    background-color: blueviolet;
    margin: 0 10px 10px 10px;
    position: relative;
}
.second-main-div .image-content .image-div.big:hover{
    transform: scale(1.1);
    z-index: 30;
    background-color: #D08770;
}

/* .second-main-div .image-content .image-div.small{
    width: 400px;
    height: 300px;
    background-color: blueviolet;
    margin-right: 10px;

    position: relative;
    overflow: hidden;
    
} */

.second-main-div .image-content .image-div{
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: ease-in-out 0.4s;
    box-shadow: #2e344075 5px 5px 5px;
    cursor: pointer;
    
}

.second-main-div .image-content .image-div:hover{
    transform: scale(1.3);
    z-index: 30;
    background-color: #D08770;
    color:blueviolet ;
}

.second-main-div .image-content .image-div .textbox{
    height:200% ;
    width: 100%;
    z-index: 5;
    position: absolute;
    /* background-color: darkcyan; */
    transform: rotate(320deg);
    
}

.second-main-div .image-content .image-div .textbox p{
    font-size: 50px;
    transform: rotate(20deg);
    opacity: 0.4;
}

.second-main-div .image-content .image-div .img-box{
    height: 100%;
    width: 100%;
    /* background-color: greenyellow; */
    overflow: hidden;
    z-index: 12;

}

.second-main-div .image-content .image-div.men .img-box img{
    height: 100%;
    margin-left: -100px;
}

.second-main-div .image-content .image-div.women .img-box img{
    height: 100%;
}

.second-main-div .image-content .image-div.bag .img-box img{
    width: 100%;
}

.second-main-div .image-content .image-div.glasses .img-box img{
    height: 100%;
   margin-left: -100px;
}

.second-main-div .image-content .image-div.shoe .img-box img{
    width: 150%;
    margin-left: -60px;
}

.second-main-div .image-content .image-div.shirts .img-box img{
    height: 100%;

}
.second-main-div .image-content .image-div.hoodie .img-box img{
    height: 100%;

}
.second-main-div .image-content .image-div.caps .img-box img{
    height: 130%;

}
/* .second-main-div .image-content .image-div.long{
    width: 400px;
    height: 400px;
} */

.second-main-div .image-content .image-div.long .img-box{
    height: 100%;
    margin-top: -5px;
}

.second-main-div .image-content .image-div.shirt .img-box{
    height: 100%;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */

.second-main-div .image-content .image-div.hoodie .img-box{
    height: 100%;
    /* background-color: darkred; */
    display:flex ;
    justify-content:center;
    align-items: center;
}

.second-main-div .image-content .image-div.caps .img-box{
    height: 100%;
    /* background-color: darkred; */
    display:flex ;
    justify-content:center;
    align-items: center;
}
.extra-image-content{
    width: 88%;
    height: 490px;
    margin-top: 24px;
    position: relative;
    /* background-color: gold; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-image-content .ext-image-div{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: darkseagreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.extra-image-content .ext-image-div .short-img-div{
    width: 45%;
    height: 50%;
    background-color: darkcyan;
    margin: 5px 5px 0px 5px;
    border-radius: 20px;
    display: flex;
    
}

.extra-image-content .ext-image-div .short-img-div.txt{
    align-items:flex-end;
    background-color: blueviolet;
    transition: ease-in-out 0.2s;
}

.extra-image-content .ext-image-div .short-img-div.txt:hover{
    margin-bottom: 30px;
    background-color: #D08770;
}

.extra-image-content .ext-image-div .short-img-div h1{
    font-size: 60px;
    margin: 5px 5px 5px 5px;
}

.extra-image-content .ext-image-div .short-img-div.img-div{
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.extra-image-content .ext-image-div .short-img-div.img-div img{
    position: relative;
    height: 250%;
    margin-top: -258px;
    margin-left: -20px;
    
}
.extra-image-content .ext-image-div .long-img-div{
    width: 90%;
    height:35%;
    background-color:sienna;
    border-radius: 20px;
}

.extra-image-content .ext-image-div .long-img-div.img-div{
    position: relative;
    overflow: hidden;
}

.extra-image-content .ext-image-div .long-img-div.img-div img{
    position: relative;
    width: 100%;
    margin-top: -180px;
    
}

.extra-image-content .text-div{
    width:50% ;
    height: 100%;
    /* background-color:firebrick ; */
    position: relative;
}

.extra-image-content .text-div .header-text{
    width: 100%;
    height: 150px;
    /* background-color: greenyellow; */
    color: blueviolet;
    margin-top: 50px;
}

.extra-image-content .text-div .body-text{
    width: 90%;
    height: 100px;
    /* background-color:mediumseagreen; */
    font-size: 18px;
    margin-top: 15px;
    color: #2E3440;
}

.extra-image-content .text-div .btn-div{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    /* background-color:blue; */
    display: flex;
    align-items: center;
}

.extra-image-content .text-div .btn-div .btn{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.extra-image-content .text-div .btn-div .btn:hover{
    margin-bottom: 20px;
}

.extra-image-content .text-div .btn-div .btn h2{
    margin-right: 10px;
    color: #2E3440;
}









/* third section */


.third-main-div{
    width: 100%;
    height: 220vh;
    position: relative;
    padding: 0;
    margin: 0;
    /* background-color: green; */
    color: #ECEFF4;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.third-main-div .about-txt{
    width: 100%;
    height: 200px;
    /* background-color:brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-txt .headtxt{
    width: 50%;
    height: 50%;
    /* background-color: #2E3440; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-txt .headtxt .line{
    width: 150px;
    height: 5px;
    background-color: crimson;
    border-radius: 20px;
    transition: ease-in-out 0.2s;

}

.about-txt .headtxt h1{
    font-size: 60px;
    cursor:default;
    transition: ease-in-out 0.5s;
    color: #2E3440;
}
.about-txt .headtxt h1:hover{
    color: rgba(240, 35, 240, 0.815);
    text-shadow: black -5px 5px 5px;
;

}
.about-txt .headtxt h1:hover + .line{
    width: 300px;
}

.third-main-div .img-story-section{
    width: 100%;
    height: 500px;
    /* background-color: mediumaquamarine; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-main-div .img-story-section .full-image{
    width: 500px;
    height: 100%;
    /* background-color: lightcoral; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.third-main-div .img-story-section .full-image .img-div {
    width: 100%;
    height: 100%;
    /* background-color: olive; */
    position: relative;
    overflow: hidden;
}

.third-main-div .img-story-section .full-image .img-div img {
    width: 100%;
}

.third-main-div .img-story-section .full-image .text-div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    top: 0;
    position: absolute;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.third-main-div .img-story-section .full-image .text-div .text{
    width: 290px;
    height:200px;
    /* background-color: chocolate; */
    text-align: right;
}

.third-main-div .img-story-section .full-image .text-div .text h1{
    font-size: 50px;
    font-weight: 900;
    margin-right: 10px
}
.third-main-div .img-story-section .full-image .text-div .text h1 b{
    color: blueviolet;
    font-weight: 900;
}

.third-main-div .img-story-section .half-image-div{
    width: 500px;
    height: 100%;
    /* background-color:orangered; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.third-main-div .img-story-section .half-image-div .half-image{
    width: 90%;
    height: 45%;
    /* background-color: darkturquoise; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}

.third-main-div .img-story-section .half-image .img-div {
    width: 100%;
    height: 100%;
    /* background-color: olive; */
    position: relative;
    overflow: hidden;
}

.third-main-div .img-story-section .half-image .img-div img {
    width: 100%;
}

.third-main-div .img-story-section .half-image .text-div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    top: 0;
    position: absolute;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    overflow: hidden;
}

/*  */

.third-main-div .img-story-section .half-image .text-div .text{
    width:300px;
    height:200px;
    /* background-color: chocolate; */
    text-align: right;
}

.third-main-div .img-story-section .half-image .text-div .text h1{
    font-size: 40px;
    font-weight: 900;
    margin-right: 10px
}
.third-main-div .img-story-section .half-image .text-div .text h1 b{
    color: blueviolet;
    font-weight: 900;
}

.third-main-div .img-story-section .half-image.first .text-div .text{
    text-align:left ;
}

.third-main-div .img-story-section .half-image.first .text-div{
    justify-content: flex-start;
}

.third-main-div .img-story-section .half-image.first .text-div .text h1{
    justify-content: flex-start;
}


.third-main-div .author-div{
    width: 100%;
    height: 400px;
    /* background-color: goldenrod; */
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-main-div .author-div .author-div-content{
    width: 75%;
    height: 100%;
    /* background-color:deeppink; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-main-div .author-div .author-div-content .image-div-author{
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background-color: blueviolet;
    margin-right: 20px;
    overflow: hidden;
}

.third-main-div .author-div .author-div-content .image-div-author img{
    height: 100%;
    margin-left: 30px;
}
.third-main-div .author-div .author-div-content .text-div-author{
    width: 50%;
    height: 100%;
    /* background-color:cadetblue; */
    position: relative;
    display: flex;
    flex-direction: column;
}


.third-main-div .author-div .author-div-content .text-div-author .author-name{
    width: 100%;
    height: 150px;
    /* background-color: firebrick; */
}

.third-main-div .author-div .author-div-content .text-div-author .author-name h1{
    font-size: 56px;
    font-family: 'Bungee Outline', cursive;
    line-height: 50px;
    padding: 6px 6px 6px 6px;
    color: #2E3440;
}

.third-main-div .author-div .author-div-content .text-div-author .author-name h1 b{
    font-weight: 1000;
}
.third-main-div .author-div .author-div-content .text-div-author .author-desc{
    width: 100%;
    height: 200px;
    /* background-color: lawngreen; */
}

.third-main-div .author-div .author-div-content .text-div-author .author-desc p{
    padding: 6px 6px 6px 6px;
    color:#2E3440;
}

.third-main-div .author-div .author-div-content .text-div-author .author-btn{
    width: 100%;
    height: 100px;
    /* background-color: mediumseagreen; */
}

.third-main-div .author-div .author-div-content .text-div-author .author-btn .btn{
    width: 100px;
    height: 30px;
    border: blueviolet solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 5px;
    color: #2E3440;
    transition: ease-in-out 0.5s;
    font-weight: 900;

}

.third-main-div .author-div .author-div-content .text-div-author .author-btn .btn:hover{
    background-color: blueviolet;
    color: #ffff;
}
/* .third-main-div .author-div .author-div-content .image-div-author.hexagon {
    top: 30vh;
    left: 40%;
    position: ;
    margin: 0 auto;
    background-color: dodgerblue;
    border-radius: 110px;
    width: 50%; 
    height: 100%;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
}
  
/* Creating pseudo-class */
/* .hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    background-color: dodgerblue;
    border-radius: inherit;
    height: 100%;
    width: 100%;
} */
  
/* Align them in such a way
that they form a hexagon */
/* .hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
} */

 
